.box-hover{
    text-align: center;
    overflow: hidden;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img-hover {
        width: 0%;
        height: 0vh;
        background-color: rgba(56, 53, 53, 0.568);
        position: absolute;
        overflow: hidden;
    
        h3 {
            color: aliceblue;
            text-shadow: 1px 1px 1px black;
            font-size: 2.5em;
    
        }
    }

    &:hover .img-hover{
        width: 100%;
    }
}