/*
$color-0: white;
$color-1: #265A80;
$color-2: #0095FF;
$color-3: #4DB5FF;
$color-4: #004A80;
*/
$color-0: white;
$color-1: #D95032;
$color-2: #F2A25C;
//$color-3: #F2AC57;
$color-3: #88C1F2;

/*
$color-0: #32c2b9;
$color-1: #edecb3;
$color-2: #fad928;
$color-3: #ff9915;
$color-4: #686466;
*/

$bordes: 3%;



//$color-4: #dc3545;
$color-4: rgb(43, 166, 133);

section {

    padding: 3em;
    text-align: center;

    h2 {
        padding-bottom: 1rem;
    }
}

.descripcion {
    background-color: $color-0;
    color: black;
    h2{
        font-weight: 400;
    }
}

.seccion1 {
    background-color: $color-1;
    color: white;

    @media(min-width:768px){
        img, iframe {
            border-radius: $bordes;
        }
    }
    
}

.seccion2 {
    background-color: $color-2;
    color: white;

    @media(min-width:768px){
        img, iframe {
            border-radius: $bordes;
        }
    }
}

.seccion3 {
    background-color: $color-3;
    color: white;

    @media(min-width:768px){
        img, iframe {
            border-radius: $bordes;
        }
    }
}

.transicion0{
    background: $color-0;
    background: linear-gradient(180deg, $color-0 39%, $color-1);

    width: 100%;
    height: 60px;

    text-align: center;
    justify-content: center;
}

.transicion1 {
    background: $color-1;
    background: linear-gradient(180deg, $color-1 39%, $color-2 70%);

    width: 100%;
    height: 60px;

    text-align: center;
    justify-content: center;

    p {
        padding-bottom: 5%;
    }
}

.transicion2 {
    background: $color-2;
    background: linear-gradient(180deg, $color-2 39%, $color-3 70%);

    width: 100%;
    height: 60px;

    text-align: center;
    justify-content: center;

    p {
        padding-bottom: 5%;
    }
}