
$color-0: #000000;
$color-1: #003A70;
$color-2: #065778;
$color-3: #005961;

$bordes: 3%;



//$color-4: #dc3545;
$color-4: rgb(43, 166, 133);

section {

    padding: 3em;
    text-align: center;

    h2 {
        padding-bottom: 1rem;
    }
}

.descripcion {
    background-color: $color-0;
    color: white;
    h2{
        font-weight: 400;
    }
}


$section-colors: (
  seccion1: $color-1,
  seccion2: $color-2,
  seccion3: $color-3
);

@each $section, $color in $section-colors {
  .#{$section} {
    background-color: $color;
    color: white;

    @media(min-width: 768px) {
      img, iframe {
        border-radius: $bordes;
      }
    }
  }
}

.transicion0{
    background: $color-0;
    background: linear-gradient(180deg, $color-0 39%, $color-1);

    width: 100%;
    height: 60px;

    text-align: center;
    justify-content: center;
}

.transicion1 {
    background: $color-1;
    background: linear-gradient(180deg, $color-1 39%, $color-2 70%);

    width: 100%;
    height: 60px;

    text-align: center;
    justify-content: center;

    p {
        padding-bottom: 5%;
    }
}

.transicion2 {
    background: $color-2;
    background: linear-gradient(180deg, $color-2 39%, $color-3 70%);

    width: 100%;
    height: 60px;

    text-align: center;
    justify-content: center;

    p {
        padding-bottom: 5%;
    }
}